<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quiz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>841EE76C1DF16B27005F0BC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>841EE7841DF16B27005F0BC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>841EE78F1DF16B27005F0BC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
